/*------------------------------------------------------------------
[Page Style Stylesheet]

Project:    Edumix Foundation Dashboard Template
Version:    1.2
Last change:    11/03/2014 [fixed Float bug, vf]
Author: matirasa
-------------------------------------------------------------------*/
/*
    Page: locked screen
*/

#time {
    color: #FFF;
    font-size: 34px;
    margin: 160px auto 30px auto;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    width: 200px;
    border-radius: 4px;
}
#time small {
    font-size: 18px!important;
    font-weight: 100;
}
.lockscreen-text {
    color: #fff !important;
    font-size: 21px;
    position: relative;
    top: -8px!important;
    /* font-family: 'Pacifico', cursive; */
    
    left: 57px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
}
.lockscreen-name {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}
/* We will put the dynamically generated digital clock here */

.lockscreen .headline {
    color: #fff;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
    -webkit-font-smoothing: antialiased !important;
    opacity: 0.8;
    margin: 10px 0 30px 0;
    font-size: 90px;
}
@media screen and (max-width: 480px) {
    .lockscreen .headline {
        font-size: 60px;
        margin-bottom: 40px;
    }
}
/* User name [optional] */

.lockscreen .lockscreen-name {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
/* Will contain the image and the sign in form */

.lockscreen-item {
    padding: 0;
    background: #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 10px auto;
    width: 290px;
}
.lockscreen-item:before, .lockscreen-item:after {
    display: table;
    content: " ";
}
.lockscreen-item:after {
    clear: both;
}
/* 
User image 
*/

.lockscreen-item > .lockscreen-image {
    position: absolute;
    left: -10px;
    top: -30px;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
}
.lockscreen-item > .lockscreen-image > img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/* Contains the password input and the login button */

.lockscreen-item > .lockscreen-credentials {
    margin-left: 80px;
}
.lockscreen-item > .lockscreen-credentials input {
    border: 0 !important;
}
.lockscreen-item > .lockscreen-credentials .btn {
    background-color: #fff;
    border: 0;
}
/* Extra to give the user an option to navigate the website [optional]*/

.lockscreen-link {
    margin-top: 30px;
    text-align: center;
}
/*
Buttons
*/

.btn {
    font-weight: 500;
    border: 1px solid transparent;
    font-size: 13px;
    padding: 7px 10px;
}
.dropdown-menu>li>a {
    color: #888;
    font-size: 13px;
}
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125)!important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125)!important;
}
.btn.btn-default {
    background-color: #ffffff;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default.hover {
    background-color: #fff!important;
}
.btn.btn-default.btn-flat {
    border-bottom-color: #d9dadc;
}
.btn.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    background-color: #367fa9;
}
.btn.btn-success {
    background-color: #0AA699;
    border-color: #0AA699;
}
.btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success.hover {
    background-color: #2c9399;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #2c9399!important;
    border-color: #2c9399!important;
}
.btn.btn-info {
    background-color: #0090D9;
    border-color: #0090D9;
}
.btn.btn-info:hover, .btn.btn-info:active, .btn.btn-info.hover {
    background-color: #0181c1;
    border-color: #0181c1;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #0181c1!important;
    border-color: #0181c1!important;
}
.btn.btn-danger {
    background-color: #f56954;
    border-color: #f56954;
}
.btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger.hover {
    background-color: #f4543c;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #f4543c!important;
    border-color: #f4543c!important;
}
.btn.btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
}
.btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning.hover {
    background-color: #e08e0b;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #e08e0b!important;
    border-color: #e08e0b!important;
}
.btn.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
    outline: none;
}
.btn.btn-file {
    position: relative;
    width: 120px;
    height: 35px;
    overflow: hidden;
}
.btn.btn-file > input[type='file'] {
    display: block !important;
    width: 100% !important;
    height: 35px !important;
    opacity: 0 !important;
    position: absolute;
    top: -10px;
    cursor: pointer;
}
.btn.btn-app {
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 12px;
}
.btn.btn-app > .fa, .btn.btn-app > .glyphicon, .btn.btn-app > .ion {
    font-size: 20px;
    display: block;
}
.btn.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}
.btn.btn-app:active, .btn.btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}
.btn.btn-social-old {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
    padding: 0;
}
.btn.btn-social-old > .fa {
    padding: 10px 0;
    width: 40px;
}
.btn.btn-social-old > .fa + span {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.btn.btn-social-old span {
    padding: 10px;
}
.btn.btn-social-old:hover {
    opacity: 1;
}
.btn.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*
Element
 */

h2.box-title {
    font-size: 13px;
    padding: 0 0 15px;
    margin: 45px 0 50px;
    border-bottom: 1px solid #eee;
    color: #888;
}
/*
Gmap
 */

.gmap3 {
    margin: 0 auto 10px auto;
    width: 100%;
    height: 300px;
}
/*
Icons
 */

.entypo li, .entypo-tooltip li {
    float: left;
    height: 10%;
    padding: 0.5em;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 10%;
    list-style: none;
    font-size: 20px;
    color: #363E49;
}
.entypo li:hover, .entypo-tooltip li:hover {
    color: #000;
    cursor: pointer;
}
.the-icons {
    line-height: 24px;
    color: #58719C !important;
}
.fontawesome-icon-list {
    color: #58719C !important;
}
.fontawesome-icon-list span {
    color: #888!important;
    font-size: 13px;
}
.switch {} .switch input {
    margin-right: 0.3em;
}
.codesOn .i-name {
    display: none;
}
.codesOn .i-code {
    display: inline;
}
.i-code {
    display: none;
}
.i-name {
    font-size: 13px;
    color: #777;
}
/*
Pricing Table
 */

.wrap-price-table {
    margin-top: 60px;
}
.plans {
    width: 836px;
    margin: 50px auto;
    overflow: hidden;
}
.plan {
    float: left;
    width: 100%;
    margin: 20px 2px;
    padding: 15px 25px;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.plan-title {
    margin-bottom: 12px;
    font-size: 19px;
    color: #454545;
    text-transform: uppercase;
}
.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 40px!important;
    font-weight: bold;
    color: #000;
}
.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-features {
    width: 80%;
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: left;
}
.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}
.plan-feature + .plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
}
.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}
.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}
.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: #17335A;
    /**/
    
    border-bottom: 2px solid #cf7e3b;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}
.plan-highlight {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #1C5E98;
    border-color: rgba(0, 0, 0, 0.15);
}
.plan-recommended {
    width: 100%;
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #1C5E98;
    border-radius: 0 0 4px 4px;
}
.plan-circle {
    background: #17335A;
    margin: 0 auto;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    color: #fff!important;
}
.plan-circle h3 {
    color: #fff;
    padding: 35px 0 0 0;
    font-size: 16px;
    text-transform: uppercase;
}
.plan-circle p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 40px!important;
    font-weight: bold;
    color: #fff;
}
.plan-circle span {
    margin: 0;
}
.plan-circle-highlight {
    background: #1C5E98;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    color: #fff!important;
}
.plan-circle-highlight h3 {
    color: #fff;
    padding: 35px 0 0 0;
    font-size: 16px;
    text-transform: uppercase;
}
.plan-circle-highlight p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 40px!important;
    font-weight: bold;
    color: #fff;
}
.plan-circle-highlight span {
    margin: 0;
}
/*
Timeline
 */

.timeline {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 2px;
    background: #d2dae1;
    left: 32px;
    border: 1px solid #eee;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    top: 20px;
}
.timeline > li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline > li:before, .timeline > li:after {
    display: table;
    content: " ";
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-item {
    margin-top: 25px;
    border: 0px solid #dfdfdf;
    background: #fff;
    color: #888;
    margin-left: 60px;
    margin-right: 0;
    padding: 0;
    position: relative;
    line-height: 1.6em;
    font-size: 13px;
}
.timeline > li > .timeline-item > .time {
    color: #999;
    float: right;
    margin: 2px 0 0 0;
}
.timeline > li > .timeline-item > .timeline-header {
    margin: 0 0 10px;
    border-bottom: 1px dashed #ddd;
    padding: 20px;
    font-size: 14px;
    line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header span {
    color: #fff;
    font-size: 13px;
    font-weight: bold
}
.timeline > li > .timeline-item > .timeline-header:before {
    content: "\f0d9";
    font-size: 60px;
    font-family: FontAwesome;
    position: absolute;
    left: -15px;
}
.timeline > li > .timeline-item > .timeline-header > a {
    font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body, .timeline > li > .timeline-item > .timeline-footer {
    padding: 5px 10px;
    margin: 0;
}
.timeline > li.time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #C2CBD1;
    color: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.timeline > li > .fa, .timeline > li > .glyphicon, .timeline > li > .ion {
    width: 45px;
    height: 45px;
    font-size: 25px;
    line-height: 45px;
    position: absolute;
    color: #fff;
    background: #c2cbd1;
    border-radius: 50%;
    text-align: center;
    left: -5px;
    top: 20px;
}
.timeline > li > h2 {
    font-size: 12px;
}
.timeline > li > span {
    color: #666;
    margin: 0;
    position: relative;
    left: 60px;
    top: 5px;
}
.timeline > li > span > small {
    background: none repeat scroll 0 0 #b1c2ca;
    border-radius: 3px;
    color: #fff;
    float: right;
    margin: 0;
    padding: 3px 5px;
    text-align: right;
    top: 0;
}
.timeline-body span {
    display: block;
}
.timeline-body span small {
    float: right;
}
.timeline-body p {
    color: #ffffff!important;
}
/*
404 & 500
 */

.edumix-not-found {
    text-align: center;
    margin: 50px auto 0 auto;
}
.edumix-not-found h1 {
    margin: 0;
    font-size: 60px;
}
.edumix-not-found i {
    font-size: 60px;
}
.edumix-not-found span {
    background: #454545;
    color: #fff;
    text-transform: uppercase;
    height: 35px;
    display: inline-table;
    padding: 0 10px;
    line-height: 35px;
    margin: 0 0 15px;
    border-radius: 3px;
}
section.page-error {
  margin: 100px auto;
  width: 380px;
  background: rgba(255,255,255,0.5);
  padding: 40px;
  border-radius: 4px;
}
/* 
ALERT 
*/

/* Include this as a file, like "alert-panels.css", after your foundation.css file
/*                                        */
/* Alert Panel HTML Classes */
/*                                        */
/* Alert panel container */

.alert-panel {
    margin-bottom: 1.5em;
    line-height: 1.3em;
}
.alert-panel p, .alert-panel a, .alert-panel h1, .alert-panel h2, .alert-panel h3, .alert-panel h4, .alert-panel h5, .alert-panel h6 {
    margin-bottom: 0;
    margin-top: 0;
}
.alert-panel .button.secondary {
    background: #fff;
}
/* Alert panel title */

.alert-panel-title {
    background-color: #1688EC;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 1.3em;
    position: relative;
    padding: 10px 34px 10px 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}
/* Alert panel close button */

.alert-panel.close {
    /* border-bottom: solid 1px #2284a1; */
    
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 15px;
    line-height: -4px;
    font-size: 0.8em;
    font-weight: bold;
    -webkit-transition: all, 300ms;
    -moz-transition: all, 300ms;
    -o-transition: all, 300ms;
    transition: all, 300ms;
    background-color: #F20556;
    color: #fff;
}
.alert-panel.close:hover, .alert-panel.close:active {
    background-color: #2284a1;
    border-bottom: solid 1px #2284a1;
    border-left: solid 1px #2284a1;
    color: #cdebf5;
}
.alert-panel.secondary .alert-panel.close {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
}
.alert-panel.secondary .alert-panel.close:hover, .alert-panel.secondary .alert-panel.close:active {
    background-color: #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    border-left: solid 1px #c3c3c3;
    color: white;
}
.alert-panel.success .alert-panel.close {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
}
.alert-panel.success .alert-panel.close:hover, .alert-panel.success .alert-panel.close:active {
    background-color: #457a1a;
    border-bottom: solid 1px #457a1a;
    border-left: solid 1px #457a1a;
    color: #c6eca7;
}
.alert-panel.alert .alert-panel.close {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.4);
}
.alert-panel.alert .alert-panel.close:hover, .alert-panel.alert .alert-panel.close:active {
    background-color: #970b0e;
    border-bottom: solid 1px #970b0e;
    border-left: solid 1px #970b0e;
    color: #f8a9aa;
}
/* Alert panel message area */

.alert-panel-message {
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    line-height: 1.3;
    margin: 0 0 30px;
    border-radius: 0 0 4px 4px;
}
.alert-panel.secondary .alert-panel-message {} .alert-panel.success .alert-panel-message {} .alert-panel.alert .alert-panel-message {}
/* Alert panel action area */

.alert-panel-action {
    background: #e3f4f9;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    text-align: right;
    margin: 0 0 30px;
}
.alert-panel.secondary .alert-panel-action {
    background: #f6f6f6;
}
.alert-panel.success .alert-panel-action {
    background: #D7EDEC;
}
.alert-panel.alert .alert-panel-action {
    background: #fac0c2;
    border: solid 1px #ef3236;
}
