/*
 * If you prefer to host 'FontAwesome' on your server
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
.wysiwyg-container {
    overflow: visible;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.wysiwyg-textarea {
    display: block;
    width: 100%;
    height: 10em;
    padding: 0;
}
.wysiwyg-wrapper {
    position: relative;
}
.wysiwyg-editor {
    position: relative;
    min-height: 5em;
    /*max-height: 25em;*/
    padding: 10px;
    overflow: auto;
    outline: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.wysiwyg-toolbar {
    overflow: hidden;
    white-space: nowrap;
}
.wysiwyg-toolbar-top {
    border-bottom: 1px solid #cccccc;
    padding: 0;
}
.wysiwyg-toolbar-bottom {
    border-top: 1px solid #cccccc;
    padding: 0 5px;
}
.wysiwyg-toolbar a {
    vertical-align: top;
}
.wysiwyg-placeholder {
    position: absolute;
    top: 10px;  /* same as padding in .wysiwyg-editor */
    left: 10px;
    color: #cccccc;
    background: transparent;
}
.wysiwyg-popup {
    position: absolute;
    z-index: 9999;
    color: black;
    background: white;
    background: rgba(255,255,255,0.9);
    left: -50%;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px #333333;
    -webkit-box-shadow: 0 0 5px #333333;
    box-shadow: 0 0 5px #333333;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wysiwyg-popup.wysiwyg-arrowtop:after {
    position: absolute;
    left: 50%;
    border: solid transparent;
    content: " ";
    width: 0;
    height: 0;
    margin-left: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}
.wysiwyg-popup.wysiwyg-arrowtop {
    margin-top: 7px;
}
.wysiwyg-popup.wysiwyg-arrowtop:after {
    bottom: 100%;
    border-bottom: 10px solid #aaaaaa;
}
.wysiwyg-toolbar-icon {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    margin: 0;
    padding: 0;
    color: #333333;
    text-decoration: none;
    *zoom: 1;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*width: 16px;
    height: 16px;*/
    padding: 8px 12px;
    font: 16px FontAwesome;
}
.wysiwyg-toolbar-icon:hover {
    color: HighlightText;
    background-color: Highlight;
}
.wysiwyg-toolbar-form {
    padding: 10px;
    white-space: nowrap;
}
.wysiwyg-toolbar-color {
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.wysiwyg-input {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    color: black;
    background: none white;
    border: 1px solid #aaaaaa;
    width: 20em;
    height: 20px;
    padding: 5px 4px;  /* 8 - extraheight(2) - border(1) = 5 */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
.wysiwyg-input:hover,
.wysiwyg-input:active,
.wysiwyg-input:focus {
    border-color: #777777;
}
.wysiwyg-browse {
    position: relative;
    left: 0;
    top: 0;
    height: 3em;
    line-height: 3em;
    border: 2px dashed #aaaaaa;
    padding: 10px;
    color: #aaaaaa;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.wysiwyg-browse:hover,
.wysiwyg-browse:active,
.wysiwyg-browse:focus {
    color: black;
    border-color: #777777;
}
