<?php echo $this->doctype(); ?>
<html lang="en">
<head>
<style type="text/css">
    @font-face {
        font-family: 'bebasregular';
        src: url(<?php echo $this->basepath('public/fonts/bebas_regular_macroman/BEBAS___-webfont.eot')?>);
        src: url(<?php echo $this->basepath('public/fonts/bebas_regular_macroman/BEBAS___-webfont.eot?#iefix')?>) format('embedded-opentype'),
        url(<?php echo $this->basepath('public/fonts/bebas_regular_macroman/BEBAS___-webfont.woff')?>) format('woff'),
        url(<?php echo $this->basepath('public/fonts/bebas_regular_macroman/BEBAS___-webfont.ttf')?>) format('truetype'),
        url(<?php echo $this->basepath('public/fonts/bebas_regular_macroman/BEBAS___-webfont.svg#bebasregular')?>) format('svg');
        font-weight: normal;
        font-style: normal;
    }
    body{
        font-family: opensans;
    }
    h1 {
        font-size: 23pt;
        font-family: bebasregular;
        margin:0px;
        padding:0px;
    }
    h2 {
        font-size:12pt;
        font-family: bebasregular;
        margin-left:0;
        margin-right:0;
        margin-top:0;
        margin-bottom:10pt;
    }
    h3 {
        font-size: 14pt;
        font-family: bebasregular;
        margin-left:0;
        margin-right:0;
        margin-top:0;
        margin-bottom:5pt;
    }
    .half{
        width:45%;
    }
    .skill {
        margin-bottom: 1em;
        position: relative;
    }
    .position{
        margin-bottom:15pt;
    }
    .position .summary td{
        padding-bottom: 10pt;
    }
    .title-and-date td:first-child{
        font-weight:600;
    }
    .skill-chart td{
        border-right:1px solid;
        width:5%;
    }
</style>
</head>
<body>
<?php
/*echo '<pre>';
var_dump($this->info);
echo '<pre>';*/
?>
<div class="container">

<div class="title">
        <h1><?php echo $this->info['firstName'].' '.$this->info['lastName'];?></h1>
        <h2><?php echo $this->info['headline']?></h2>
</div>
<div class="contact-info">
    <h3 class="about-me-title">Contact Info</h3>
    Phone <?php echo $this->info['phoneNumbers']['values'][0]['phoneNumber']?><br/>
    Email <?php echo $this->info['emailAddress']?></td>
</div>
<div class="about-me">
    <h3 class="about-me-title">About Me</h3>
    <?php echo $this->info['summary']?>
</div>
<div style="clear:both;"></div>
<div class="education">
    <h3>Education</h3>
    <table>
    <?php
    $counter = 1;
    foreach($this->info['educations']['values'] as $education){
        echo $counter%2==1 ? '<tr>' : '';
        ?>
        <td class="half">
        <?php
        echo $education['schoolName'].', '.$education['startDate']['year'].' - '.$education['endDate']['year'].'<br/>';
        echo $education['degree'].' in '.$education['fieldOfStudy'];
        ?>
        </td>
    <?php
        echo $counter%2==0 ? '<tr>' : '';
        $counter++;
    }
    ?>
    </table>
</div>
<div style="clear:both;"></div>
<div class="work-experience">
    <h3>Work Experience</h3>
    <table class="position">
    <?php foreach($this->info['positions']['values'] as $position){ ?>

        <tr class="title-and-date">
        <td class="half">
        <?php
        echo $position['title'].', '.$position['company']['name'];

        if(isset($position['industry']) && !empty($position['industry'])){
            echo ' ('.$position['industry'].')';
        }
?>
        </td>
        <td class="half">
            <?php
        $startMonth = DateTime::createFromFormat('!m', $position['startDate']['month']);
        echo $startMonth->format('F').' ';
        echo $position['startDate']['year'].' - ';

        if($position['isCurrent']){
        echo 'Now';
        }
        else{
        $endMonth = DateTime::createFromFormat('!m', $position['endDate']['month']);
        echo $endMonth->format('F').' ';
        echo $position['endDate']['year'];
        }
?>
        </td>
        </tr>
        <tr  class="summary">
            <td colspan="2">
                <?php
                    echo $position['summary'].'<br/>';
                ?>
            </td>
        </tr>
            <?php
    }
    ?>
    </table>
</div>
    <div class="skill-chart" style="width: 100%;position: relative;">
        <?php
        $years = ceil($this->info['positions']['active'] / 365);
        //echo $years;
        $span = 100/$years;
        for($counter = 1; $counter <= $years; $counter++){
        ?>
        <div style="border-right:1px solid lightgray;<?php echo $counter == 1 ? 'border-left:1px solid lightgray;' : '' ?>position: absolute;left:<?php echo ($counter * $span) ?>%;z-index: -1;"><?php echo $counter ?></div>
        <?
        }
        ?>
        <div class="bar" style="position: absolute;top:20px;left:0%;width:100%;">
            <?php foreach($this->info['skills']['values'] as $skill){
                if($skill['time'] > 0){
                ?>
            <div class="percentage" style="width:<?php echo $skill['time'] * 100 / $this->info['positions']['active'] ?>%;background: #000;color:white;margin-bottom:5px;"><?php echo $skill['skill']['name'] ?></div>
            <?php
                    }
                }
            ?>

        </div>
    </div>

</div> <!-- /container -->
<?php echo $this->inlineScript() ?>
</body>
</html>