<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>BennyJake, Ben Chrisman - Web Developer</title>
    <!--<meta name="Keywords" content="Themes, Templates, Bootstrap, CSS, HTML"/>
    <meta name="Description" content="Themes Forever is developer for template by Bootstrap"/>-->
    <meta name="Distribution" content="global"/>
    <meta name="Robots" content="all"/>

    <!-- Favicon Browser -->
    <link href="<?= $this->basepath('/img/favicon.png') ?>" type="image/png" rel="icon">

    <!-- Bootstrap Core CSS -->
    <link href="<?= $this->basepath('/bootstrap_v3.3.5/css/bootstrap.min.css') ?>" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugins CSS -->
    <link href="<?= $this->basepath('/bootstrap_v3.3.5/css/animate.min.css') ?>" rel="stylesheet">

    <!-- Core Theme CSS -->
    <link href="<?= $this->basepath('/bootstrap_v3.3.5/css/enterprise-c1.css') ?>" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="<?= $this->basepath('/bootstrap_v3.3.5/css/bennyjake.css') ?>" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="wrapper">

    <div class="box">

        <div class="row">
            <!-- wrapper-aside -->
            <aside class="column col-sm-3 wrapper-aside">

                <!-- header title -->
                <header>

                    <div id='topbar'></div>

                    <article>
                        <img src="<?= $this->basePath('img/selfie.jpg'); ?>" class="img-responsive img-circle animated zoomIn">
                    </article>

                    <h1 class="text-primary">Ben Chrisman</h1>
                    <h3><span style="color:#f57f20;">(Benny Jake)</span></h3>
                    <h2>Web Developer</h2>

                </header><!--/ header title -->

                <!-- social nav -->
                <nav>

                    <ul class="pager">

                        <li>
                            <a href="https://github.com/BennyJake" target="_blank" title="Social Github" class="animated rotateIn"><i class="fa fa-github fa-2x"></i></a>
                        </li>

                        <li>
                            <a href="https://twitter.com/bennyjchrisman" target="_blank" title="Social Twitter" class="animated rotateIn"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/benchrisman87" target="_blank" title="Social Linkedin" class="animated rotateIn"><i class="fa fa-linkedin fa-2x"></i></a>
                        </li>

                    </ul>

                </nav><!--/ social nav -->

                <nav>
                    <ul class="page-nav">
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#education">Education</a></li>
                        <li><a href="#certifications">Certifications &amp; Achievements</a></li>
                    </ul>
                </nav>

                <footer class="hidden-xs">
                    Ben Chrisman&copy;2015
                </footer>

            </aside><!--/ wrapper-aside -->

            <!-- wrapper section -->
            <section class="column col-sm-9 wrapper-section">

                <div class="full col-sm-9">

                    <div class="wrapper-padding">
            <?php echo $this->content; ?>
                    </div><!--/ padding -->
                        <footer class="visible-xs">
                            <p class="text-center"><small>Tim Foreman&copy;2015 <span class="text-secondary">Web Developer</span></small></p>
                        </footer>

                    </div><!--/ col-9 -->

            </section><!--/ wrapper section -->

        </div>

    </div>

</div>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    function scrollToAnchor(aid){
        $('.wrapper-section').animate({scrollTop:  $("#" + aid).offset().top},'slow');
    }

    $( document ).ready(function() {
        $('.page-nav a').click(function(event){
            event.preventDefault();
            scrollToAnchor($(this).attr('href').replace("#",""));
        });
    });
</script>

<!-- Bootstrap JS -->
<script src="<?= $this->basepath('/bootstrap_v3.3.5/js/bootstrap.min.js') ?>"></script>

<!-- Plugins JS -->
<script src="<?= $this->basepath('/bootstrap_v3.3.5/js/debouncer.js') ?>"></script>

<!-- Core Theme JS -->
<script src="<?= $this->basepath('/bootstrap_v3.3.5/js/enterprise.js') ?>"></script>



</body>
</html>

