<!-- site intro -->
<!--<section class="margin-bottom" id="site-intro">
<div class="row margin-bottom">

    <div class="col-md-12">
        <div>
            <img style="width:100%" src="<?= $this->basePath('img/siteIntro.png');?>">
        </div>
    </div>

</div>
</section>-->
<!-- /site intro -->


<!-- about me -->
<section class="margin-bottom" id="about-me">

    <h2>About me</h2>
    <p><small>A little about myself</small></p>

    <div class="row margin-bottom">

        <div class="col-md-8">

            <p>My name is Benjamin J. Chrisman, and I develop and design websites. It's a career and a hobby. I
                specialize in primarily in PHP development, with secondary development in HTML, CSS, and
                Javascript/JQuery. Altogether, I have approximately 5 years experience in PHP development, with 3 of
                those years being in modern development. I also enjoy bicycling, beer-tasting, disc golf, video
                gaming, and screwing around with the <a href="https://www.raspberrypi.org/about/" target="_blank">
                Raspberry Pi's</a> .
            </p>

        </div>

        <div class="col-md-4 text-center">

            <p class="lead text-center">
                <i class="fa fa-level-down"></i>
            </p>
            <a href="/pdf/resume.pdf" class="btn btn-lg btn-block btn-default">
                <i class="fa fa-file-text-o"></i>&nbsp; Resume PDF
            </a>

        </div>

    </div>

    <div class="row">

        <!--<div class="col-md-5 col-lg-3">

            <article class="media">

                <div class="pull-left">
                    <span class="fa fa-phone bg-primary text-primary animated rotateIn"></span>
                </div>
                <div class="media-body animated fadeInRight"><img src=""></div>

            </article>

        </div>-->

        <div class="col-md-7 col-lg-4">

            <article class="media">

                <div class="pull-left">
                    <span class="fa fa-envelope bg-primary text-primary animated rotateIn"></span>
                </div>
                <div class="media-body animated fadeInRight">ben.chrisman.87@gmail.com</div>

            </article>

        </div>

        <div class="col-md-12 col-lg-5">

            <article class="media">

                <div class="pull-left">
                    <span class="fa fa-map-marker bg-primary text-primary animated rotateIn"></span>
                </div>
                <div class="media-body animated fadeInRight">Washington, Illinois, USA</div>

            </article>

        </div>

        <div class="col-md-7 col-lg-4">
        </div>

    </div>

</section><!--/ about me -->

<!-- skill -->
<section class="margin-bottom" id="skills">

    <h2>Skills</h2>
    <p class="margin-bottom"><small>A self-rating on different application development related skills</small></p>

    <div class="row">
        <!-- left column blocks -->
        <div class="col-lg-6">
            <div class="row">

        <!--languages block-->
        <div class="col-lg-12 margin-bottom">

            <h4 class="margin-bottom">Languages</h4>

            <div class="progress">
                <div class="progress-bar" style="width: 85%">PHP</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 70%">Javascript</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 60%">HTML/HTML 5</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 70%">CSS/CSS 3</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 50%">Class ASP (VB Script)</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 25%">Java</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 10%">C++</div>
            </div>
            <div class="progress level">
                <div class="progress-bar" style="width:25%">
                    Newbie
                </div>
                <div class="progress-bar" style="width:25%">
                    Fair
                </div>
                <div class="progress-bar" style="width:25%">
                    Good
                </div>
                <div class="progress-bar" style="width:25%">
                    Great
                </div>
            </div>

        </div><!--/ languages block-->

        <!--databases-->
        <div class="col-lg-12 margin-bottom">

            <h4 class="margin-bottom">Databases</h4>

            <div class="progress">
                <div class="progress-bar" style="width: 85%">MySQL</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 60%">SQLite</div>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 25%">SQL Server</div>
            </div>

            <div class="progress level">

                <div class="progress-bar" style="width:25%">
                    Newbie
                </div>
                <div class="progress-bar" style="width:25%">
                    Fair
                </div>
                <div class="progress-bar" style="width:25%">
                    Good
                </div>
                <div class="progress-bar" style="width:25%">
                    Great
                </div>

            </div>

        </div><!--/ databases-->

                <!--etc-->
                <div class="col-lg-12 margin-bottom">

                    <h4 class="margin-bottom">Etc</h4>

                    <div class="progress">
                        <div class="progress-bar" style="width: 35%">Linux OS (General)</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 25%">OS X (Mac) (General)</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%">Windows OS (General)</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 60%">SQLite</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" style="width: 25%">SQL Server</div>
                    </div>

                    <div class="progress level">

                        <div class="progress-bar" style="width:25%">
                            Newbie
                        </div>
                        <div class="progress-bar" style="width:25%">
                            Fair
                        </div>
                        <div class="progress-bar" style="width:25%">
                            Good
                        </div>
                        <div class="progress-bar" style="width:25%">
                            Great
                        </div>

                    </div>

                </div><!--/ etc-->


            </div>
            </div><!--/ left column blocks-->

        <!-- right column blocks -->
        <div class="col-lg-6">
            <div class="row">
        <!--frameworks-->
        <div class="col-lg-12 margin-bottom">

            <h4 class="margin-bottom">Frameworks/Libraries</h4>

            <div class="progress">
                <div class="progress-bar" style="width: 90%">Zend Framework 2</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 70%">Zend Framework 1</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 80%">Bootstrap</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 60%">JQuery</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 30%">Slim 3 Framework</div>
            </div>

            <div class="progress level">

                <div class="progress-bar" style="width:25%">
                    Newbie
                </div>
                <div class="progress-bar" style="width:25%">
                    Fair
                </div>
                <div class="progress-bar" style="width:25%">
                    Good
                </div>
                <div class="progress-bar" style="width:25%">
                    Great
                </div>

            </div>

        </div><!--/ frameworks-->

        <!--tools-->
        <div class="col-lg-12 margin-bottom">

            <h4 class="margin-bottom">Tools</h4>

            <div class="progress">
                <div class="progress-bar" style="width: 60%">Adobe Photoshop</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 60%">Adobe Photoshop</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 60%">Adobe Illustrator</div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width: 85%">Git Version Control</div>
            </div>

            <div class="progress level">

                <div class="progress-bar" style="width:25%">
                    Newbie
                </div>
                <div class="progress-bar" style="width:25%">
                    Fair
                </div>
                <div class="progress-bar" style="width:25%">
                    Good
                </div>
                <div class="progress-bar" style="width:25%">
                    Great
                </div>

            </div>

        </div><!--/ tools-->
            </div>
        </div>
        <!--/ right column blocks -->
    </div>

</section><!--/ skill -->

<!-- experiences -->
<section class="panel-group resume margin-bottom" id="experience">

    <h2>Experience</h2>
    <p class="margin-bottom"><small>Ut enim ad minim veniam</small></p>

    <!-- ex1 -->
    <article class="resume-item">

        <div class="resume-year"><small>Feb 2013 - Now</small></div>

        <div class="resume-btn">
            <a href="#ex1" data-toggle="collapse" data-parent="#experience"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="https://www.cefcu.com" target="_blank">CEFCU (Credit Union)</a></h4>
                    <p class="text-secondary"> / Web Programmer</p>
                </div>
            </div>

            <div id="ex1" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>
                    <ul>
                        <li>Develop member-facing and employee applications mainly using PHP, Zend Framework 2, Zend Framework 1, and MySQL
                            <ul>
                                <li>e.g. <a href="https://www.cefcu.com/apply/">CEFCU's Online Loan Application</a></li>
                            </ul>
                        </li>
                        <li>Updated and maintain several legacy applications
                            <ul>
                                <li>e.g. <a href="https://www.cefcu.com/locations/" target="_blank">CEFCU's Member Center and ATM Location Search</a></li>
                            </ul>
                        </li>
                        <li>Developed and maintain several REST and SOAP API's for third-party vendor communcation, and communication with CEFCU's mainframe</li>
                        <li>Support front-end development on applications using HTML, CSS, Javascript/JQuery, and the Twitter Bootstrap framework</li>
                        <li>Updated reports, static HTML content, and updated/created applications using Agile, supplemented by Git version control</li>
                        <li>Developed in the <a href="https://www.claromentis.com/" target="_blank">Claromentis</a> intranet software framework, extending the application to create custom features based on the needs of CEFCU employees</li>
                    </ul>
                    </p>
                </div>

            </div>

        </div>

    </article><!--/ ex1 -->

    <!-- ex2 -->
    <article class="resume-item">

        <div class="resume-year"><small>Jan 2011 - Feb 2013</small></div>

        <div class="resume-btn">
            <a href="#ex2" data-toggle="collapse" data-parent="#experience"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="http://thelifeguardstore.com/" target="_blank">The Lifeguard Store / The Swim Team Store</a></h4>
                    <p class="text-secondary"> / Lead Programmer</p>
                </div>
            </div>

            <div id="ex2" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>
                        <ul>
                        <li>Manage e-commerce websites by adding/editing code, graphics</li>
                        <li>Created and managed email sale fliers</li>
                        <li>Re-Developed website with modern redesign using SEO best-practices, improving upon the intial HTML structure</li>
                        <li>Customized e-commerce software to best suit the company needs, reduce customer frustration, and better work flow</li>
                        <li>Lead a group of 3-4 other developers/designers at a given time</li>
                        <li>Helped increase online sales by roughly 135%*</li>
                    </ul>
                        <p class="disclaimer">*comparing 2011 to expected 2012 gross sales</p>
                        <p class="primarily-used">Primarily Used: <span>Visual Basic, SQL Server, HTML, CSS, Javascript/JQuery, Adobe Illustrator, Adobe Photoshop, Adobe Dreamweaver</span></p>
                    </p>
                </div>

            </div>

        </div>

    </article><!--/ ex2 -->

    <!-- ex3 -->
    <article class="resume-item">
        <div class="resume-year"><small>Apr 2010 - Dec 2010</small></div>

        <div class="resume-btn">
            <a href="#ex3" data-toggle="collapse" data-parent="#experience"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="http://www.ghantouslaw.com/" target="_blank">Ghantous Law & Reality</a></h4>
                    <p class="text-secondary"> / Online Marketing / Web Developer</p>
                </div>
            </div>

            <div id="ex3" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>
                        <ul>
                        <li>Developed 4 websites from scratch using SEO best-practices</li>
                        <li>Used Google Adwords and Analytics to boost site search results</li>
                        </ul>
                        <p class="primarily-used">Primarily used: <span>PHP, MySQL, HTML, CSS, Javascript/JQuery, Adobe Illustrator, Adobe Photoshop</span></p>
                    </p>
                </div>

            </div>

        </div>

    </article><!--/ ex3 -->

    <!-- ex4 -->
    <article class="resume-item">
        <div class="resume-year"><small>Aug 2009 - Feb 2010</small></div>

        <div class="resume-btn">
            <a href="#ex4" data-toggle="collapse" data-parent="#experience"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="https://www.ctb123.net/index.php" target="_blank">ComeToBuy Inc.</a></h4>
                    <p class="text-secondary"> / Web Developer</p>
                </div>
            </div>

            <div id="ex4" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>
                        <ul>
                        <li>Developed and debugged e-commerce web applications and high-trac websites</li>
                        <li>Directly consulted with clients on projects, prioritized work based on deadlines</li>
                    </ul>
                        <p class="primarily-used">Primarily used: <span>Visual Basic, PHP, MySQL, HTML, CSS, Javascript</span></p>
                    </p>
                </div>

            </div>

        </div>

    </article><!-- ex4 -->

</section><!--/ experience -->

<!-- education -->
<section class="panel-group resume margin-bottom" id="education">

    <h2>Education</h2>
    <p class="margin-bottom"><small>My formal college education</small></p>

    <!-- ed1 -->
    <article class="resume-item">
        <div class="resume-year"><small>Aug 2007 - Aug 2009</small></div>

        <div class="resume-btn">
            <a href="#ed1" data-toggle="collapse" data-parent="#education"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="http://illinoisstate.edu/" target="_blank">Illinois State University</a></h4>
                    <p class="text-secondary"> / Bachelor's in Computer Science</p>
                </div>
            </div>

            <div id="ed1" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>Graduated with 2.8 GPA</p>
                </div>

            </div>

        </div>

    </article><!-- ed1 -->

    <!-- ed2 -->
    <article class="resume-item">
        <div class="resume-year"><small>August 2005 - August 2007</small></div>

        <div class="resume-btn">
            <a href="#ed2" data-toggle="collapse" data-parent="#education"></a>
        </div>

        <div class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <h4 class="resume-title"><a href="http://icc.edu/" target="_blank">Illinois Central College</a></h4>
                    <p class="text-secondary"> / Associate's in Computer Science</p>
                </div>
            </div>

            <div id="ed2" class="panel-collapse collapse in">
                <div class="panel-body text-grey">
                    <p>Graduated with 2.75 GPA</p>
                </div>

            </div>

        </div>

    </article><!--/ ed2 -->

</section><!--/ education -->

<!-- certifications -->
<section class="margin-bottom" id="certifications">

    <h2>Certifications and Achievements</h2>
    <p class="margin-bottom"><small>Donec lobortis risus a elit</small></p>

    <div class="row">

        <div class="col-sm-12 col-lg-12 margin-bottom">

            <article class="text-center">

                <div class="row">

                    <div class="col-sm-3 col-lg-3 margin-bottom">
                        <a href="https://www.zend.com/en/yellow-pages/ZEND025263">
                            <img style="max-width:200px;" src="<?= $this->basePath('/bootstrap_v3.3.5/svg/zend-certified-php-engineer.svg'); ?>">
                        </a>

                    </div>
                    <div class="col-sm-9 col-lg-9 margin-bottom">
                        <h4 style="float:left;">Zend Certified Engineer<span style="color:#f57f20;"> / PHP</span></h4><p class="text-secondary">&nbsp;</p>
                        <p>
                            Based on PHP 5.5, taken and passed in May 2014.
                        </p>
                    </div>
                </div>

            </article>

        </div>

    </div>

</section><!--/ certifications -->


